<html>
<header>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
</header>

<body id="content" class="dark-theme">
    <div id="menu">

    </div>
    <div id='map'></div>

    <div id="description-box">
        <div id="description"></div>
        <div id="reset-highlighed-color">
            <button id="reset-button" style="display: none;">Reset highlight</button>
        </div>
    </div>

    <script src="/static/runtime.js"></script>
    <script src="/static/vendor.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>