<html>
<header>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="/static/css/index.css" rel="stylesheet" />
</header>

<body>
    <div id="menu">
        <input id="light" type="radio" name="rtoggle" value="light-v10" />
        <label for="light">Light</label>
        <input id="dark" type="radio" name="rtoggle" value="dark-v10" />
        <label for="dark">Dark</label>
    </div>
    <div id='map'></div>

    <script type="module" src="/static/js/index.js"></script>
</body>

</html>